#preview img {
    position: absolute;
    left: 12px;
    top: 48px;
    width: 90%;
  }
  
#selector img {
    max-width: 25%;
    margin: 8px;
    padding: 4px;
    border: 1px solid;
    cursor: pointer;
}

.title{
    text-transform: capitalize;
}
